<div id="wrapper">
  <ul id="articles">

    {{#each articleList}}

    <li class="newList">{{this.title}}{{#if this.isSaved}}
    <p class="justSaved" style="color: red;">This is saved</p>
    {{/if}}</li>
    <button class="button savebtn" type="button" id="{{this._id}}">Save</button>
    {{/each}}


  </ul>
  <div id="notes"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/app.js"></script>