<div id="wrapper">

  <h2>Saved: </h2>
  <ul id="articles">
    {{#each data}}

    <li>{{this.title}}</li>

    {{/each}}
  </ul>
  <div id="notes"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>