<div id="wrapper">
  <ul class="savedLi" id="articles">

    {{#each data}}

    <li class="newList"><a href="{{this.href}}">{{this.title}}</a></li>

    <button class="button savebtn btn btn-danger" type="button" id="{{this._id}}">Remove</button>

    {{/each}}

  </ul>
  <div id="notes"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>